.galeriaimg {
    display: flex;
    background-color: rgb(18, 18, 18);
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    height: auto;
    padding-bottom: 8%;
}

.infoo {
    display: flex;
    flex-wrap: wrap;
    width: 30.33%;
    color: white;
    margin-left: 2%;
}

.opiniones{
    display: flex;
}

.opinionestxt{
    padding-top: 2%;
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-weight: 800;
    background-color: rgb(194, 165, 130);
}

.perfiles {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 4%;
    font-family: "Outfit", sans-serif;
    font-weight: 800;
    text-align: center;
    background-color: rgb(194, 165, 130);
}

.perfil{
    width: 100px;
    height: 100px;
    border-radius: 2cm;
    object-fit: cover;
}




.navegacion{
    width: 100%;
    display: flex;
    background-color: rgb(0, 0, 0);
}


.formulario {
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 10%;
    padding-top: 4%;
    outline: none;
}

.input {
    width: 84%;
    padding: 3%;
    margin: 5%;
    font-family: "Outfit", sans-serif;
    font-weight: 800;
    border: 0px solid;
    border-radius: 56px;
    font-size: 100%;
    outline: none;
}


.textarea {
    font-size: 100%;
    font-family: "Outfit", sans-serif;
    font-weight: 800;
    width: 92%;
    margin-left: 5%;
    height: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    outline: none;
    border-radius: 20px;
}

.formulariotext{
    text-align: center;
    color: white;
    font-family: "Outfit", sans-serif;
    font-weight: 800;
}

.sobrenosotros{
    background-color: #000000;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: "Outfit", sans-serif;
    font-weight: 800;
    padding-top: 5%;
    padding-bottom: 5%;
    flex-wrap: wrap;
}

.info {
    display: flex;
    flex-wrap: wrap;
    width: 30.33%;
    color: white;
    border-right: 3px solid;
    margin-left: 2%;
}

.sobrenosotrostext{
    padding: 4%;
}

h4.infotext {
    border-right: 0px solid rgb(255, 255, 255);
    margin-right: 2%;
}


.animacion {
    width: 100%;
    transition: 1s;
}

.portada {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    width: 350%;
}




.portadaimg{
    color: wheat;
}

*{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}


.paneles {
    width: 33.33%;
    justify-content: start;
    align-items: center;
    display: flex;
    margin-right: 2%;
}

.paneles2 {
    width: 33.33%;
    justify-content: end;
    align-items: center;
    display: flex;
    margin-right: 2%;
}

.paneles3 {
    width: 33.33%;
    justify-content: end;
    align-items: center;
    display: flex;
    margin-right: 2%;
}

.galeriaimg{
    background-image: linear-gradient(to right, #000000, #000000, #1a1a1a, #1a1a1a, #000000, #000000);
    animation: color 10s linear infinite;
    background-size: 500%;
}


*{
    margin: 0px;
    padding: 0px;
}

.peliculas {
    margin: 0.5%;
    padding: 2%;
}


.cartelera {
    display: inline-block;
    width: 100%;
    font-family: "Outfit", sans-serif;
    font-weight: 800;
    margin-left: 5%;
    color: rgb(255 255 255);
    margin-top: 1%;
}

body::-webkit-scrollbar {
    width: 12px;       
  }
  
  body::-webkit-scrollbar-track {
    background: black;     
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(255, 0, 0);  
    border-radius: 20px;   
    border: 3px solid rgb(0, 0, 0);
}